.HEAD
{
  display: flex;
  align-items: center;
  gap: 70px;
  background-color: white;
}
body{
  background-color: #0f172a;
}
div{
    border: 20pc;
    border-color: black;
}
p{
    width: 800px;
    margin-left: 450px;
}
.NSSLOGO{
    width: 80PX;
    height: auto;
    
}
.mybharat-logo{
    width:100px;
    margin-right: 240px;;
}

#nss{
    font-weight: 600;
    font-size: xxx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin-right:20px;
}
#banner{
    width: 1500px;
    height: auto;
    margin-bottom: 50px;
}
.about{
font-family: "Big Shoulders", sans-serif;
  font-family: "DM Sans";
 text-align: justify;
    color:white;

  border-radius:10px;
  padding:10px;
 
 

}
#welcome{
    color:#f97316;
  margin-left: 500px;
  border:#f97316 solid 2px;
  border-width: 1px;
}
.info{
    text-align: center;
    color:white;
}
#abt{
    color:#f97316;
}
.event{
  display: flex;
  width: 100px;
  height: 400px;
  gap:50px;
}
#tab{
  margin-left:700px;
  font-size: xx-large;
  margin-bottom: 50px;
   color:#f97316;

}
#butevent{
  color:#ffffff;
  background-color: 
#003366;
width:150px;
height: 50px;
border-radius: 10px;
}
